[Desktop Entry]
\
Type=Application
\
Name=CounterLauncher
\
Comment=Minecraft Launcher
\
Exec=CounterLauncher
\
Icon=CounterLauncher
\
Terminal=true
\
Categories=Game;
